* {
  box-sizing: border-box;
}

body {
  background-image:
  url("img/annie-spratt-xvU-X0GV9-o-unsplash_3.jpg");
  background-repeat: repeat;
  background-color: #cccccc;
}

.universe {
    width: 98%;
    margin: auto;
}

h1 {
  font-size: 1.5rem;
  margin-left: 6px;
  margin-right: 6px;
  margin-block-start: 0.2em;
margin-block-end: 0.2em;
}

h2 {
  margin-left: 6px;
  margin-right: 6px;
  margin-block-start: 0.2em;
margin-block-end: 0.2em;
}

table, th, td {
  border: 4px solid black;
  border-collapse: collapse;
}
.logo {
  height: auto;
}

.title {
  justify-content: center;
  text-align: center;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.5rem;

}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

header {
  justify-content: center;
}



.links {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-content: space-between;
}

.up {
  padding: 1em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
  justify-content: center;
  text-align: center;
}

.sel-task {
  width: 3em;
  height: 3em;
  padding: 1.5rem;
  margin: 0.2rem;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 50%;
  font-family: 'Archivo Black', sans-serif;

  font-size: 1.5rem;
}

.first-letter {
  initial-letter: 2;
}

.footer {

}

.task {
  border: 0.2rem solid black;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 5px;
  margin-bottom: 5px;


}

.task-nr {
  margin-top: 1em;
  margin-bottom: 0.2em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
}

.description {
  padding-bottom: 0.4em;
  margin: .2em;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  text-align: center;
}

.td-image {
  width: 80px;
  height: 80px;
}



/* html, body {  padding: 0;  margin: 0;} */

a {
  text-decoration: none;
}

/*Grid*/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  background-color: black;
   color: white;
   font-family: 'Archivo Black', sans-serif;
   text-align: center;
   padding-top: .2rem;
   padding-bottom: .2rem;
}

.pict7 {
  height: auto;
  max-height: 90%;
}

/* start of medium tablet styles */

@media screen and (min-width: 767px) {
  .universe {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
  }
  .title {
    justify-content: center;
    text-align: center;
    text-align: justify;
    font-size: 3rem;
  }
}
